/testenvironment.properties
/bin
/build
/dist
/ivyCache
/google.properties
/debug
/*.launch
/ssh.configuration
/findbugsReport.html
/lib
/.settings
/.project
/.classpath
/.factorypath
/lombok.iml
/.idea
*.markdown.html
/junit*.properties
/eclipse.location
/.apt_generated/
/out
/website/lombokSupporters
