.main-section a,
.footer a {
	text-decoration: underline;
	text-underline-offset: 0.15em;
	text-decoration-color: #d9230f20;
}

.main-section a:hover,
.main-section a:focus,
.footer a:hover,
.footer a:focus {
	text-decoration-color: #91170A;
}

.importantNotification {
	background-color: #FFEBCD;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
}

.main-section .tidelift-link-inline {
	border-radius: 18px;
	background-color: #626980;
	background-color: #626980;
	background-image: url('/img/tidelift-mark.png');
	background-repeat: no-repeat;
	background-position: 6px;
	background-size: 12px;
	padding: 2px 8px 2px 26px;
	color: white;
	text-decoration-color: #ffffff20;
}

.main-section .tidelift-link {
	border-bottom-left-radius: 18px;
	border-top-left-radius: 18px;
	background-color: #626980;
	box-sizing: border-box;
	color: white;
	display: flex;
	top: 46px;
	right: 0px;
	position: absolute;
	background-image: url('/img/tidelift-mark.png');
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 12px;
	padding: 6px 12px 6px 28px;
	text-decoration-color: #ffffff20;
}

.main-section .tidelift-link:focus,
.main-section .tidelift-link-inline:focus,
.main-section .tidelift-link:hover,
.main-section .tidelift-link-inline:hover {
	color: white;
	text-decoration-color: white;
}

#tideliftlink {
	margin-left: 2px;
	padding: 4px 6px 4px 20px;
	background-color: #4b5168;
	border-radius: 5px;
	color: white;
}

#clickForVideo {
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

pre {
	text-align: left;
}

.tideliftb {
	border-radius: 4px;
	border: 2px solid #D9230F;
	font-size: 28px;
	width: 330px;
	line-height: 48px;
	display: inline-block;
	margin: 16px 0;
	text-align: center;
}

.main-section a.tideliftb {
	text-decoration: none;
}

.tideliftb1 {
	background-color: white;
	float: left;
	color: #D9230F;
}

.tideliftb1:hover {
	color: #D9230F;
}

.tideliftb2 {
	background-color: #D9230F;
	color: #FCFCFC;
}

.tideliftb2:hover {
	color: #FCFCFC;
}

.buttonLike {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #FFFEF7, #CFCEC7);
	background: -moz-linear-gradient(top, #FFFEF7, #CFCEC7);
	background: -o-linear-gradient(#FFFEF7, #CFCEC7);
	background: -ms-linear-gradient(#FFFEF7, #CFCEC7);
	background: linear-gradient(top, #FFFEF7, #CFCEC7);
	line-height: 1;
	padding: 3px 10px;
	border: 1px solid black;
	position: relative;
	overflow: visible;
	color: black;
	margin: 2px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}

.orderButton {
	width: 280px;
}

.orderDetails {
	font-style: italic;
	font-size: 10px;
	margin-top: 20px;
}

.tidelift {
	font-size: 16px;
}

.formErr {
	color: #FF7777;
}

.order-license #deleteCompanyLogo {
	margin-top: 12px;
}

.formSubmitFail {
	color: #FF6666;
	font-size: 1.2em;
	font-style: italic;
}

.order-license .btn-primary {
	float: left;
	margin-right: 20px;
	background: -webkit-linear-gradient(#1725e0, #0923df 6%, #0b21ce);
	background: -o-linear-gradient(#1725e0, #0923df 6%, #0b21ce);
	background: -webkit-gradient(linear, left top, left bottom, from(#1725e0), color-stop(6%, #0923df), to(#0b21ce));
	background: linear-gradient(#1725e0, #0923df 6%, #0b21ce);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1725e0', endColorstr='#ff0b21ce', GradientType=0);
	-webkit-filter: none;
	filter: none;
	border: 1px solid #091bac;
}

#onlyYearlyWarning {
	font-size: 0.8em;
	padding-left: 16px;
}

.deemphasize {
	color: #AAAAAA;
	font-size: 0.8em;
	font-style: italic;
}

.supporterBar .introText {
	margin-top: 16px;
}

.barItem {
	margin: 16px;
	max-width: 168px;
}

.barItem img {
	width: 100%;
}

.supportItem, .barItem {
	display: inline-block;
}

.supporters .supportItem {
	margin: 6px 10px;
}

.supporterBar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.errorBox {
	border: 1px dashed #F44;
	font-size: 1.2em;
	padding: 20px;
	background-color: #EEE;
	text-align: center;
}

.noSupportersBox {
	font-size: 1.2em;
	padding: 20px;
	background-color: #EEE;
	text-align: center;
}

.spinner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
	height: 16px;
}

#companyLogo {
	margin-right: 8px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	overflow-y: scroll;
}

ul.dropdown-menu .header {
	padding-left: 10px;
}

div.snippet code {
	display: inline-block;
	word-break: break-word;
}


ol.snippet {
	background: repeat-y url(/img/line-numbers.png);
	padding-left: 3em;
	list-style-type: decimal;
}

ol.snippet li {
	font-size: 14px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	color: #9898A8;
}

ol.snippet li code {
	word-break: break-word;
	padding: 0;
}

ol.snippet.oneliner, ol.snippet.cmd {
	list-style-type: none;
}

ol.snippet.oneliner li, ol.snippet.cmd li {
	text-indent: -1.7em;
}

ol.snippet.oneliner li:before {
	content: "#\A0\A0";
}

ol.snippet.cmd li:before {
	content: ">\A0\A0";
}

ol.snippet li.continued {
	padding-left: 2em;
}

.fork-me {
	position: fixed;
	width: 150px;
	height: 150px;
	top: 0;
	right: 0;
	z-index: 2000;
}

.video {
	padding-top: 4%;
}

.name {
	font-weight: bold;
}

.bs-callout {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout + .bs-callout {
	margin-top: -5px;
}

.bs-callout-danger {
	border-left-color: #ce4844;
}

.bs-callout-danger h4 {
	color: #ce4844;
}

.bs-callout-warning {
	border-left-color: #aa6708;
}

.bs-callout-warning h4 {
	color: #aa6708;
}

.bs-callout-info {
	border-left-color: #1b809e;
}

.bs-callout-info h4 {
	color: #1b809e;
}

.color-swatches {
	margin: 0 -5px;
	overflow: hidden;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}

h1, h2, h3 {
	padding: 12px 40px;
	text-align: center;
}

.page-center {
	padding-top: 10%;
	padding-bottom: 19%;
}

.page-header {
	border-bottom: 0;
}

.header-group > h1, h2, h3 {
	padding: 5px;
}

.snippet {
	overflow: auto;
	padding: 4px;
	border: 1px dotted #888;
	text-align: left;
}

.snippet font {
	white-space: pre;
}

.snippet code {
	font-size: 14px;
	background-color: transparent;
}

.snippet.example {
	margin: 8px 16px 8px 16px;
}

.snippet-col {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 769px) {
	.snippet-col {
		margin-left: -60px;
		margin-right: -60px;
	}
}

@media (min-width: 1000px) {
	.snippet-col {
		margin-left: -120px;
		margin-right: -120px;
	}
}

a {
	cursor: pointer;
}

.main-section {
	padding-left: 100px;
	padding-right: 100px;
	max-width: 900px;
}

.changelog li {
	text-align: left;
}

@media (max-width: 767px) {
	.fork-me {
		display: none;
	}
	
	h1 {
		font-size: 20px;
	}
	
	h2 {
		font-size: 18px;
	}
	
	h3 {
		font-size: 16px;
	}
	
	.main-section {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	video {
		width: 100%;
		height: auto;
	}
	
	.smallOnly {
		display: block !important;
	}
	
	.wideOnly {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.smallOnly {
		display: none !important;
	}
	
	.wideOnly {
		display: block !important;
	}
}

img {
	max-width: 100%;
	height: auto;
}

h3.listHeader {
	text-align: left;
}

/* A11y */
body {
	color: #555555;
}
.navbar-default .navbar-brand {
	color: #555555;
}
.navbar-default .navbar-nav>li>a {
	color: #555555;
}
.navbar-default .navbar-nav>li>a.dropdown-toggle:focus {
	outline: 1px auto Highlight;
	outline: 1px auto -webkit-focus-ring-color;
}

.bs-callout.bs-callout-danger h2 {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: start;
	font-size: 17px;
}

a:not([role=button]):focus {
	outline-offset: 2px;
}

.sbCnt {
	min-height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sbCnt img {
	object-fit: contain;
}

.sponsored {
	margin: 1em 0;
}

.sponsored::before {
	content: "Sponsored Content";
	color: #AAAAAA;
    font-size: 0.8em;
    font-style: italic;
	margin-bottom: 0.4em;
}

.sponsored blockquote {
	padding: 0 1em;
}

.main-section .sponsored a {
	color: #008800;
	text-decoration-color: currentcolor;
}

.main-section .sponsored a:hover {
	color: #008800;
	text-decoration-color: currentcolor;
}
