html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	overflow-y: scroll;
}

ul.dropdown-menu .header {
	padding-left: 10px;
}

div.snippet code {
	padding: 0;
}

.fork-me {
	position: fixed;
	width: 150px;
	height: 150px;
	top: 0;
	right: 0;
	z-index: 2000;
}

.video {
	padding-top: 4%;
}

.name {
	font-weight: bold;
}

.bs-callout {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout + .bs-callout {
	margin-top: -5px;
}

.bs-callout-danger {
	border-left-color: #ce4844;
}

.bs-callout-danger h4 {
	color: #ce4844;
}

.bs-callout-warning {
	border-left-color: #aa6708;
}

.bs-callout-warning h4 {
	color: #aa6708;
}

.bs-callout-info {
	border-left-color: #1b809e;
}

.bs-callout-info h4 {
	color: #1b809e;
}

.color-swatches {
	margin: 0 -5px;
	overflow: hidden;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}

h1, h2, h3 {
	padding: 40px;
	text-align: center;
}

.page-center {
	padding-top: 10%;
	padding-bottom: 19%;
}

.page-header {
	border-bottom: 0;
}

.header-group > h1, h2, h3 {
	padding: 5px;
}

.snippet {
	overflow: auto;
	padding: 4px;
	border: 1px dotted #888;
	text-align: left;
}

.snippet font {
	white-space: pre;
}

.snippet code {
	font-size: 14px;
	background-color: transparent;
}

.snippet.example {
	margin: 8px 16px 8px 16px;
}

.snippet-col {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 769px) {
	.snippet-col {
		margin-left: -60px;
		margin-right: -60px;
	}
}

@media (min-width: 1000px) {
	.snippet-col {
		margin-left: -120px;
		margin-right: -120px;
	}
}

a {
	cursor: pointer;
}

.main-section {
	padding-left: 100px;
	padding-right: 100px;
	max-width: 900px;
}

.changelog li {
	text-align: left;
}

@media (max-width: 768px) {
	.fork-me {
		display: none;
	}
	
	h1 {
		font-size: 20px;
	}
	
	h2 {
		font-size: 18px;
	}
	
	h3 {
		font-size: 16px;
	}
	
	.main-section {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	video {
		width: 100%;
		height: auto;
	}
}

img {
	max-width: 100%;
	height: auto;
}
