<#import "_setup.html" as s>

<@s.scaffold title="IntelliJ IDEA">
	<@s.introduction>
		<p>
			The <a href="https://www.jetbrains.com/idea/">Jetbrains IntelliJ IDEA</a> editor is compatible with lombok.
		</p><p>
			Add the <a href="https://plugins.jetbrains.com/plugin/6317">Lombok IntelliJ plugin</a> to add lombok support IntelliJ:
			<ul><li>
				Go to <code>File &gt; Settings &gt; Plugins</code>
			</li><li>
				Click on <code>Browse repositories...</code>
			</li><li>
				Search for <code>Lombok Plugin</code>
			</li><li>
				Click on <code>Install plugin</code>
			</li><li>
				Restart IntelliJ IDEA
			</li></ul>
		</p>
	</@s.introduction>
</@s.scaffold>
