<#import "_setup.html" as s>

<@s.scaffold title="JavaC">
	<@s.section title="JDK9+ with module-info.java">
		<p>
			Support for JDK9+ if you did modularize your own projects (you've written a <code>module-info.java</code> file):<br /><code>javac -cp lombok.jar -p lombok.jar ...</code><br />
			Note that you will have to add lombok to your <code>module-info.java</code> file:<pre>
module <em>myapp</em> {
	requires static lombok;
}</pre>
		</p><p>
			The 'static' part ensures that you won't need lombok to be present at runtime.
		</p>
	</@s.section>
	
	<@s.section title="JDK 1.6 - 1.8 or no modules in later versions">
		<p>
			Just put lombok on the classpath when compiling with any javac (version 1.6 - 1.8): <code>javac -cp lombok.jar ....</code>
		</p>
		<p>
			Support for JDK9, if you haven't modularized your own projects yet (no <code>module-info.java</code> yet), is included in lombok starting with version 1.16.20. Just use lombok as normal: <code> javac -cp lombok.jar ...</code>
		</p><p>
			Support for JDK9 if you did modularize your own projects (you've written a <code>module-info.java</code> file):<br /><code>javac -cp lombok.jar -p lombok.jar ...</code><br />
			Note that you will have to add lombok to your <code>module-info.java</code> file:<pre>
module <em>myapp</em> {
	requires static lombok;
}</pre>
		</p><p>
			The 'static' part ensures that you won't need lombok to be present at runtime.
		</p>
	</@s.section>
	
</@s.scaffold>
