<#import "_setup.html" as s>

<@s.scaffold title="Microsoft Visual Studio Code">
	<@s.introduction>
		<p>
			The <a href="https://code.visualstudio.com/">Microsoft Visual Studio Code</a> editor is compatible with lombok.
		</p><p>
			Add the <a href="https://marketplace.visualstudio.com/items?itemName=GabrielBB.vscode-lombok">vscode-lombok</a> plugin to your Visual Studio Code IDE to add lombok support.
			<ul><li>
				press <code>Ctrl + Shift + X</code> to open the extension manager.
			</li><li>
				Type <code>lombok</code> to find the plugin, and click <code>install</code>.
			</li><li>
				Reload VS Code when asked.
			</li></ul>
		</p>
	</@s.introduction>
</@s.scaffold>
