body {
	font-family: Verdana;
	background-image: url(gradient.png);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

#pepper {
	background-image: url(lombok-background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50px 20px;
}

* html #pepper {
	background: none;
}

.meat {
	padding: 0px 48px;
}

.meat .header {
	position: absolute;
	top: 10px;
	left: 30px;
}

.minimumHeight {
	height: 700px;
	width: 1px;
	float: right;
}

* html .minimumHeight {
	height: 0px;
}

h1 {
	padding: 8px 0 10px 0;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.byline {
	width: 100%;
	text-align: center;
	font-style: italic;
	font-size: 1.3em;
}

.index {
	font-size: 1.2em;
	margin: 48px 0px 32px 64px;
}

.index dt {
	margin-top: 8px;
	font-size: 1.2em;
}

.index dd {
	margin-left: 32px;
}

dt {
	margin-top: 4px;
	font-size: 1.2em;
}

dd {
	margin-left: 16px;
}

.overview code {
	font-size: 1.1em;
}

.smallprint {
	font-size: 0.8em;
	color: #444;
}

.smallprint code {
	font-size: 1em;
}

.snippets {
	margin-top: 0px;
}

.snippets .pre {
	float: left;
	width: 45%;
}

.snippet {
	overflow: auto;
	padding: 4px;
	border: 1px dotted #888;
}

.snippet font {
	white-space: pre;
}

.snippets .sep {
	display: block;
	width: 5%;
	height: 1px;
	float: left;
}

.snippets .post {
	float: left;
	width: 45%;
}

.snippets .end {
	clear: both;
}

.snippet code {
	font-size: 14px;
}

.footer {
	clear: left;
	margin: 0 auto 0 auto;
	padding: 16px 0 16px 0;
	display: block;
	text-align: center;
}

.footer .disabled {
	color: #aaa;
}

.footer .copyright {
	color: #555;
	font-size: 11px;
	font-style: italic;
}

.creditsLink {
	font-style: normal;
	font-weight: bold;
}

code a {
	color: black;
	text-decoration: none;
}

code a:hover {
	color: black;
	text-decoration: underline;
}

code .keyword {
	color: #7f0055;
	font-weight: bold;
}

code .staticfield {
	color: #2a00ff;
	font-style: italic;	
}