<div class="page-header top5">
    <div class="row text-center">
        <h1>Lombok features.</h1>
    </div>
    <div class="row">
        <feature title="val" code="val">
            Finally! Hassle-free final local variables.
        </feature>

        <feature title="@NonNull" code="non-null">
            or: How I learned to stop worrying and love the NullPointerException.
        </feature>

        <feature title="@Cleanup" code="cleanup">
            Automatic resource management: Call your <code>close()</code> methods safely with no hassle.
        </feature>

        <feature title="@Getter/@Setter" code="getter-setter">
            Never write <code>public int getFoo() {return foo;}</code> again.
        </feature>

        <feature title="@ToString" code="to-string">
            No need to start a debugger to see your fields: Just let lombok generate a <code>toString</code> for
            you!
        </feature>

        <feature title="@EqualsAndHashCode" code="equals-and-hashcode">
            Equality made easy: Generates <code>hashCode</code> and <code>equals</code> implementations from the
            fields of your object..
        </feature>

        <feature title="@NoArgsConstructor, @RequiredArgsConstructor and @AllArgsConstructor" code="constructor">
            Constructors made to order: Generates constructors that take no arguments, one argument per final /
            non-nullfield, or one argument for every field.
        </feature>

        <feature title="@Data" code="data">
            All together now: A shortcut for <code>@ToString</code>, <code>@EqualsAndHashCode</code>,
            <code>@Getter</code> on all fields, and <code>@Setter</code> on all non-final fields, and
            <code>@RequiredArgsConstructor</code>!
        </feature>

        <feature title="@Value" code="value">
            Immutable classes made very easy.
        </feature>

        <feature title="@Builder" code="builder">
            ... and Bob's your uncle: No-hassle fancy-pants APIs for object creation!
        </feature>

        <feature title="@SneakyThrows" code="sneaky-throws">
            To boldly throw checked exceptions where no one has thrown them before!
        </feature>

        <feature title="@Synchronized" code="sync">
            <code>synchronized</code> done right: Don't expose your locks.
        </feature>

        <feature title="@Getter(lazy=true)" code="getter-lazy">
            Laziness is a virtue!
        </feature>

        <feature title="@Log" code="log">
            Captain's Log, stardate 24435.7: &quot;What was that line again?&quot;
        </feature>
    </div>

    <div class="row">
        <h1>Configuration system</h1>

        <div class="text-center">
            Lombok, made to order: <a href="#/feature/api/configuration">Configure lombok features</a> in one place for
            your entire project or even
            your workspace.
        </div>
    </div>

    <div class="row">
        <h1 class="text-center">Running delombok</h1>

        <div>Delombok copies your source files to another directory, replacing all lombok annotations with their
            desugared form.
            So, it'll turn <code>@Getter</code>
            back into the actual getter. It then removes the annotation. This is useful for all sorts of reasons;
            you
            can check
            out what's happening under the hood,
            if the unthinkable happens and you want to stop using lombok, you can easily remove all traces of it in
            your
            source,
            and you can use delombok to preprocess
            your source files for source-level tools such as javadoc and GWT. More information about how to run
            delombok,
            including instructions for build tools
            can be found at the <a href="#/feature/api/delombok">delombok page</a>.
        </div>
    </div>
</div>
