<#import "/_scaffold.html" as main>
<@main.scaffold>
	<div class="page-header top5">
		<div class="row text-center versionInfo">
			<h1>Download 'Edgy Guinea Pig' – the Lombok Cutting Edge build</h1>
		</div><div class="row versionInfo">
			version: ${version} (${timestampString})
		</div><div class="row" id="changelog">
			${changelogEdge?no_esc}
		</div><div class="row text-center">
			<h2><a href="/lombok-edge.jar" id="downloadLink">Download edge release now!</a></h2>
		</div><div class="row text-center">
			<p>
				Cutting edge a bit too gutsy for you? You can grab the <a href="download.html">stable release</a> instead.
			</p>
		</div>
	</div>
</@main.scaffold>
