<#macro feature title href>
	<div class="bs-callout bs-callout-danger">
		<h2><a href="${href}"><code>${title}</code></a></h2>
		<p><#nested></p>
	</div>
</#macro>

<#assign setupTargets = {
	"Compilers": {
		"Javac": "javac",
		"ECJ": "ecj"
	},
	"Build tools": {
		"maven": "maven",
		"gradle": "gradle",
		"ant": "ant",
		"kobalt": "kobalt"
	},
	"IDEs": {
		"Eclipse": "eclipse",
		"IntelliJ IDEA": "intellij",
		"Netbeans": "netbeans",
		"MyEclipse": "eclipse",
		"Spring Tool Suite": "eclipse",
		"JBoss Developer Studio": "eclipse",
		"Visual Studio Code": "vscode"
	},
	"Platforms": {
		"Android": "android",
		"GWT": "gwt"
	}
}>

<#macro scaffold load=[] title='Project Lombok'>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />

		<title>${title}</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/simplex/bootstrap.min.css" integrity="sha512-0FG7nV64qlyGMQHtk7WOzPY1NZ6SKmjNee+PMX/7xbJu8Qx6LlHhCjSj9hRDJQ6QnlFsUrcKHKxli/9z4uhHrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="/css/custom.css" rel="stylesheet" />

		<#list load as ld>
			<#if ld?ends_with(".css")>
				<link href="${ld?url_path}" rel="stylesheet" />
			</#if>
		</#list>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/js/main.js"></script>
		<#list load as ld>
			<#if ld?ends_with(".js")>
				<script src="${ld?url_path}"></script>
			</#if>
		</#list>
	</head><body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand" role="button">Project Lombok</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-label="Open Menu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a class="dropdown-toggle pointer" data-toggle="dropdown" href="#" role="button">Features<span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<li><a href="/features/all">Stable</a></li>
								<li><a href="/features/experimental/all">Experimental</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle pointer" data-toggle="dropdown" href="#" role="button">Community<span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<li><a href="https://groups.google.com/group/project-lombok">Discuss / Help</a></li>
								<li><a href="https://github.com/projectlombok/lombok/issues">Issues</a></li>
								<li><a href="/contributing/index">Documentation for contributors</a></li>
								<li><a href="/contact">Contact the team behind Project Lombok</a></li>
							</ul>
						</li>
						<li>
							<a href="/order-license-info" role="button">
								<span>Order / Donate</span>
							</a>
						</li>
						<li class="dropdown">
							<a href="/setup/overview" class="smallOnly" role="button"><span>How to use</span></a>
							<a class="dropdown-toggle pointer wideOnly" data-toggle="dropdown" href="#" role="button">Install<span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="themes">
								<#list setupTargets as cat, tgtList>
									<li class="header">${cat}</li>
									<#list tgtList as name, url>
										<li class="target"><a href="/setup/${url}" role="button">${name}</a></li>
									</#list>
									<#sep><li class="divider"></li></#sep>
								</#list>
							</ul>
						</li>
						<li><a href="/download" role="button">Download</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid main-section" id="main-section">
			<#nested>
		</div>
		<footer class="container">
			<footer class="footer text-center">
				<div class="container">
					<a href="/credits">credits</a> | Copyright &copy; 2009-${year} The Project Lombok
					Authors, licensed under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT
					license</a>.
				</div>
			</footer>
		</footer>
	</body>
</html>
</#macro>

<#macro h1 title class="" id="">
<#if id == "">
	<#assign idvalue="*"?no_esc + "${title}"/>
<#else>
	<#assign idvalue="${id}"?no_esc>
</#if>
<h1<#if class != ""> class="${class}"</#if> id="${idvalue?markup_string?replace("[ _]", "-", "r")?lower_case?replace("[^a-zA-Z0-9-]", "", "r")}">${title}</h1>
</#macro>

<#macro h2 title class="" id="">
<#if id == "">
	<#assign idvalue="*"?no_esc + "${title}"/>
<#else>
	<#assign idvalue="${id}"?no_esc>
</#if>
<h2<#if class != ""> class="${class}"</#if> id="${idvalue?markup_string?replace("[ _]", "-", "r")?lower_case?replace("[^a-zA-Z0-9-]", "", "r")}">${title}</h2>
</#macro>

<#macro h3 title class="" id="">
<#if id == "">
	<#assign idvalue="*"?no_esc + "${title}"/>
<#else>
	<#assign idvalue="${id}"?no_esc>
</#if>
<h3<#if class != ""> class="${class}"</#if> id="${idvalue?markup_string?replace("[ _]", "-", "r")?lower_case?replace("[^a-zA-Z0-9-]", "", "r")}">${title}</h3>
</#macro>
