<#import "/_scaffold.html" as main>
<@main.scaffold title="Contacting the team behind Project Lombok">
	<div class="page-header top5">
		<div>
			<div class="row">
				<p>
					Project Lombok is an open source project, maintained primarily by Roel Spilker and Reinier Zwitserloot. We have day jobs and don't get paid much for Project Lombok's maintenance. Please keep this in mind when contacting us; we're doing it out of love.
				</p><p>
					To contact us, <ul>
						<li>There's a <a href="https://groups.google.com/group/project-lombok">forum</a>; we read and respond here.</li>
						<li>If you have a feature request or bug report, please file it on our <a href="https://github.com/rzwitserloot/lombok/issues">github bug tracker</a>.</li>
						<li>If you have a security vulnerability to report, please contact us via our <a href="/security">security vulnerability disclosure</a> page.</li>
						<li>We love giving presentations, about lombok, or even just general java things. <a href="mailto:info@projectlombok.org">Send us a mail</a> if you want to invite us to do a talk.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</@main.scaffold>
