<#import "/_scaffold.html" as main>
<@main.scaffold load=["/js/supporters.js"]>
	<a class="tidelift-link" href="/tidelift">Get Lombok for Enterprise</a>
	<div class="page-header top5">
		<div class="row text-center">
			<@main.h1 title="Project Lombok" />
			<p>
				Project Lombok is a java library that automatically plugs into your editor and build tools, spicing up your java.<br />
				Never write another getter or equals method again, with one annotation your class has a fully featured builder, Automate your logging variables, and much more.
			</p>
		</div>
		<div class="video text-center">
			<a id="clickForVideo" href="#" role="button" aria-label="Watch Video"><img width="800" height="200" src="/img/video.png" alt="Watch video"></a>
			<video id="demoVideo" hidden="hidden" width="800" height="480" poster="/img/poster.png" controls="controls" preload="none">
				<source src="https://projectlombok.org/videos/lombok.mp4" type="video/mp4" />
				<@main.h1 title="Can't watch the video?" />
				<p>
					<a href="https://www.youtube.com/watch?v=VT3snjTeqhs">See it on Youtube instead</a>.
				</p><p>
					Or, download the video:<br/>
					<a href="/videos/lombok.mp4">MPEG4 / H.264 (Windows / Mac)</a> |
				</p>
			</video>
			<div class="row">
				<div class="text-center">
					<a href="https://objectcomputing.com/resources/publications/sett/january-2010-reducing-boilerplate-code-with-project-lombok">Show me a text and images based explanation and tutorial instead!</a>
				</div>
			</div>
		</div>
		<div class="row text-center supporterBar">
			<h2 class="introText" hidden="hidden">Project Lombok is <a href="/supporters">powered by</a>:</h2>
			<div class="supporterFooter" hidden="hidden"><a class="buttonLike" href="/order-license-info">I want to support Project Lombok too!</a></div>
		</div>
	</div>
</@main.scaffold>
