<#import "/_scaffold.html" as main>
<@main.scaffold>
	<div class="page-header top5">
		<div class="row text-center">
			<h1>Lombok Demo</h1>
		</div>
		<div class="video text-center">
			<video width="800" height="480" poster="/img/poster.png" controls="controls" preload="none">
				<source src="/videos/lombok.ogv" type="video/ogg" />
				<source src="/videos/lombok.mp4" type="video/mp4" />
				<source src="/videos/lombok-iPhone.m4v" type="video/mp4" />
				<object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="500">
					<param name="movie" value="/videos/player.swf?image=/img/poster.png&amp;file=/videos/lombok.mp4" />
					<param name="allowfullscreen" value="true" />
					<!--[if !IE]>-->
					<object width="800" height="500" type="application/x-shockwave-flash"
							data="/videos/player.swf?image=poster.png&amp;file=lombok.mp4" allowfullscreen="true">
						<!--<![endif]-->
						<h1>Can't watch the video?</h1>
						<p>
							<a href="https://www.youtube.com/watch?v=y6zMyM-YTgg">See it on Youtube instead</a>.
						</p><p>
							Or, download the video:<br/>
							<a href="/videos/lombok.mp4">MPEG4 / H.264 (Windows / Mac)</a> |
							<a href="/videos/lombok.ogv">Ogg Theora &amp; Vorbis ".ogv" (Linux)</a>
						</p>
						<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</video>
			<div class="row">
				<div class="text-center">
					<a href="http://jnb.ociweb.com/jnb/jnbJan2010.html">I can't see video. Show me a text and images based explanation and tutorial instead!</a>
				</div>
			</div>
		</div>
	</div>
</@main.scaffold>
