<#import "/_scaffold.html" as main>
<@main.scaffold load=["/js/supporters.js"]>
	<div class="page-header top5">
		<div class="row text-center">
			<@main.h1 title="Project Lombok" />
			<p>
				Project Lombok is a java library that automatically plugs into your editor and build tools, spicing up your java.<br />
				Never write another getter or equals method again. Early access to future java features such as <code>val</code>, and much more.
			</p>
		</div>
		<div class="video text-center">
			<div id="clickForVideo"><span class="clickToTap">Click</span> to watch a 4 minute demo to learn more.</div>
			<video id="demoVideo" hidden="hidden" width="800" height="480" poster="/img/poster.png" controls="controls" preload="none">
				<source src="https://projectlombok.org/videos/lombok.ogv" type="video/ogg" />
				<source src="https://projectlombok.org/videos/lombok.mp4" type="video/mp4" />
				<source src="https://projectlombok.org/videos/lombok-iPhone.m4v" type="video/mp4" />
				<@main.h1 title="Can't watch the video?" />
				<p>
					<a href="https://www.youtube.com/watch?v=y6zMyM-YTgg">See it on Youtube instead</a>.
				</p><p>
					Or, download the video:<br/>
					<a href="/videos/lombok.mp4">MPEG4 / H.264 (Windows / Mac)</a> |
					<a href="/videos/lombok.ogv">Ogg Theora &amp; Vorbis ".ogv" (Linux)</a>
				</p>
			</video>
			<div class="row">
				<div class="text-center">
					<a href="http://jnb.ociweb.com/jnb/jnbJan2010.html">Show me a text and images based explanation and tutorial instead!</a>
				</div>
			</div>
			<div class="row supporterBar">
			</div>
		</div>
		<div class="row text-center">
			<@main.h2 title="Upcoming presentations" />
			<p>
				Roel and Reinier will be talking about <em>(near) future java features; a preview of what Java10 and Java11 will probably look like</em>, across germany:<ul>
					<li><a href="https://www.meetup.com/Java-User-Group-Saarland-jugsaar/">JUG Saarland, Monday March 5th, 2018, Saarbrücken (Details to follow)</a></li>
					<li><a href="http://www.majug.de/">JUG Mannheim, Tuesday March 6th, 2018, Mannheim (Details to follow)</a></li>
					<li><a href="http://www.jug-kl.de/double-feature/">JUG Kaiserslautern, Wednesday March 7th, 2018, 19:00, Chaos Computer Club</a></li>
					<li><a href="https://www.jug-da.de/">JUG Darmstadt, Thursday March 8th, 2018 (Details to follow)</a></li>
					<li><a href="https://programm.javaland.eu/2018/#/scheduledEvent/549331">JavaLand March 14th 2018, 12:00</a>, room: Schauspielhaus.</li>
				</ul>
				<em>See you there! (We'll have stickers!)</em>
			</p>
		</div>
	</div>
</@main.scaffold>
