<#import "/_scaffold.html" as main>

<@main.scaffold title="Order / Donate">
	<div class="page-header top5">
		<div class="row text-center">
			<h2>Professional support via Tidelift</h2>
		</div>
		<div class="row">
			<p>
				Tidelift offers professional support of open source tools. When you have a Tidelift subscription, they will help you inventory all the various open source tools and libraries you use, give one central location to check compliance, and a single channel for release notes and security advisories. The bulk of the tidelift subscription fee is redistributed to major open source projects, and Project Lombok is one of those 'lifted' projects. Therefore, your Tidelift subscription helps maintain Project Lombok!
			</p><p>
				We recommend a <a id="tideliftlink" href="https://tidelift.com/subscription/pkg/maven-org-projectlombok-lombok?utm_source=lombok&utm_medium=referral&utm_campaign=website">Tidelift subscription</a> to any corporation that uses Project Lombok.
		</div>
		<div class="row text-center">
			<h2>Order a professional or enterprise license</h2>
		</div>
		<div class="row">
			<p>
				Lombok is open source. We offer three licenses for using lombok. The standard license is free. Here you can order a professional or enterprise license.
			</p><p>
				<a class="buttonLike orderButton" href="/order-license">Order a professional or enterprise license</a><br />
				<a class="buttonLike orderButton" href="https://www.patreon.com/lombok">For individuals: Become a patreon</a>
			</p>
			<div class="row text-center">
				<h2>Benefits of becoming a licensee</h2>
			</div>
			<p>
				Lombok is and will remain a free, open source product. However, we ask you to consider becoming a licensee. Licensees will be <a href="/supporters">listed</a> on the <code>projectlombok.org</code> website, we'll send you some stickers, and an official license. You'll be supporting the development of Project Lombok.
			</p>
			<div class="row text-center">
				<h2>Small print</h2>
			</div>
			<p class="deemphasize">
				As part of being a professional or enterprise licensee, we will put your name, a logo, and possibly a link on our ‘supporters and licensees’ page. We'll also put (at random) some supporters and licensees on our front page. You may of course opt out of this offer. We may, at our discretion, opt not to list you. If we elect not to do so, you will be notified at the email address you fill in on our form, and you are as always free to cancel your license at any time.
			</p><p class="deemphasize">
				Project Lombok is provided by the copyright holders and contributors “as is” and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed, even for professional and enterprise license holders. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.
			</p>
		</div>
	</div>
</@main.scaffold>
