<#import "/_scaffold.html" as main>

<@main.scaffold>
	<div class="page-header top5">
		<div class="row text-center">
			<h2>Order a professional or enterprise license</h2>
		</div>
		<div class="row">
			<p>
				Lombok is open source. We offer three licenses for using lombok. The standard license is free. Here you can order a professional or enterprise license.
			</p><p>
				As part of being a professional or enterprise licensee, we normally offer to put your name, a logo, and possibly a link on our ‘supporters and licensees’ page. From time to time we’ll put a supporter or licensee on our front page. You may of course opt out of this offer. We may, at our discretion, opt not to list you. If we elect not to do so, you will be notified at the email address you fill in on our form, and you are as always free to cancel your license at any time.
			</p><p>
				The license fee is based on the number of developers that work for you or your company using Project Lombok, per month. The fee is charged in advance. You may choose to pay either monthly or yearly (for sufficiently small licensees, only a yearly option is available).
			</p><p>
				<span class="legalese">Project Lombok is provided by the copyright holders and contributors “as is” and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed, even for professional and enterprise license holders. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</span>
			</p><p>
				Instead of a professional or enterprise license, if you’d like to support the efforts of Project Lombok, you can also support us via <a href="https://www.patreon.com/lombok">Patreon</a>.
			</p><p>
				<a href="order-license">Order a professional or enterprise license now</a>.
			</p>
		</div>
	</div>
</@main.scaffold>
