<#import "/_scaffold.html" as main>

<@main.scaffold title="Project Lombok for Enterprise">
	<div class="page-header top5 tidelift">
		<div class="row text-center">
			<h2>Available as part of the Tidelift Subscription</h2>
		</div>
		<div class="row">
			<img src="/img/projectlombok-tidelift-mix.png" width="200" height="150" class="pull-right" alt="tidelift+lombok" />
			<p>
				Project Lombok and the maintainers of thousands of other packages are working with Tidelift to deliver one enterprise subscription that covers all of the open source you use.
			</p><p>
				If you want the flexibility of open source and the confidence of commercial-grade software, this is for you.
			</p>
		</div>
		<div class="row text-center">
			<a class="tideliftb tideliftb1" href="https://tidelift.com/subscription/pkg/maven-org-projectlombok-lombok?utm_source=maven-org-projectlombok-lombok&utm_medium=referral&utm_campaign=enterprise">LEARN MORE</a> <a class="tideliftb tideliftb2" href="https://tidelift.com/subscription/request-a-demo?utm_source=maven-org-projectlombok-lombok&utm_medium=referral&utm_campaign=enterprise">REQUEST A DEMO</a>
		</div>
		<div class="row text-center">
			<h2>The Tidelift Subscription manages your dependencies for you</h2>
		</div>
		<div class="row">
			<p>
				<ul>
					<li>Get the tools you need to continuously catalog and understand the open source software that your application depends on.</li>
					<li>Your subscription helps pay the open source maintainers of the exact packages you use to ensure they meet the standards you require.</li>
					<li>Address issues proactively, with tools that scan for new security, licensing, and maintenance issues, and alert our participating open source maintainers so they can resolve them on your behalf.</li>
					<li>Measure and improve your open source dependencies' health—which improves your app’s health—and get a short list of high-impact steps your team can take to improve them even more.</li>
					<li>Get commercial assurances that don't come for free with open source packages, like intellectual property indemnification and support under a service level agreement. You expect these guarantees from proprietary software, and you can have them when using open source as well.</li>
				</ul>
				The end result? All of the capabilities you expect from commercial-grade software, for the full breadth of open source you use. That means less time grappling with esoteric open source trivia, and more time building your own applications—and your business.
		</div>
	</div>
</@main.scaffold>
