<div class="page-header top5">
    <div class="row">

        <h1>Eclipse</h1>

        <p>
            Run <code>lombok.jar</code> as a java app (i.e. doubleclick it, usually) to
            install. Also add lombok.jar to your project. <span style="font-size: 0.8em;"><em>Supported
            variants: Springsource Tool Suite, JBoss Developer Studio</em></span>

        </p>
    </div>


    <div class="row">

        <h1>IntelliJ IDEA</h1>

        <p>
            <a href="https://code.google.com/p/lombok-intellij-plugin/">A plugin
                developed by Michael Plushnikov</a> adds support for most features.
        </p>
    </div>

    <div class="row">

        <h1>NetBeans</h1>

        <p>
        <ul>
            <li>Add <code>lombok.jar</code> to the project Libraries.</li>
            <li>In the project Properties, in the section Build &ndash; Compiling, check the &#39;Enable Annotation
                Processing in Editor&#39; checkbox.
            </li>
        </ul>
        <img src="/images/netbeans-enable-annotation-processing-in-editor.png"/>


    </div>
</div>