<#import "../_scaffold.html" as main>

<@main.scaffold title="Documentation for being a lombok developer">
	<div class="page-header top5">
		<div class="row text-center">
			<@main.h1 title="Documentation for lombok developers" />
		</div>
		<div class="row">
			<@main.feature title="contributing" href="contributing">
				Want to contribute to Project Lombok? Start by reading this introduction.
			</@main.feature>
			<@main.feature title="execution path" href="lombok-execution-path">
				Discusses how lombok ends up being invoked, and how it gets around to transforming code being compiled / edited.
			</@main.feature>
		</div>
	</div>
</@main.scaffold>
