<#import "_setup.html" as s>

<@s.scaffold title="Netbeans">
	<@s.introduction>
		<p>
			The <a href="https://netbeans.org/">Netbeans</a> editor is compatible with lombok.
			<ol><li>
				Add <code>lombok.jar</code> to the project libraries.
			</li><li>
				In the project properties, in the section <code>Build &ndash; Compiling</code>, check the <code>&#39;Enable Annotation Processing in Editor&#39;</code> checkbox.
			</li></ol>

			<img src="/img/netbeans-enable-annotation-processing-in-editor.png" />
		</p>
	</@s.introduction>
</@s.scaffold>
